
@model IEnumerable<SmartParkingSystem.Entity.SpacesDto>;

<div class="gray-color">
        
    <!-- parking map-->
        <div class="Parking-map">
            @for(int i = 0; i < Model.Count()-1; i++){
            <div class="row parking-top">
                <div class="col-4 parking-space">
                    <div class="space-block"></div>
                    <img src=".\css\Images\2871_R1NUIEpPUyAwNjctMzc-removebg-preview.png" alt="car" class="car" id="S1">
                    <span class="space-number">@Model.ElementAt(i).ParkingNumber.ToString()</span>
                </div>
                @{i++;}
                <div class="col-4 parking-space">
                    <div class="space-block"></div>
                    <img src=".\css\Images\2871_R1NUIEpPUyAwNjctMzc-removebg-preview.png" alt="car" class="car" id="S2">
                    <span class="space-number">@Model.ElementAt(i).ParkingNumber.ToString()</span>
                </div>
                @{i++;}
                <div class="col-4 parking-space">
                    <div class="space-block"></div>
                    <img src=".\css\Images\2871_R1NUIEpPUyAwNjctMzc-removebg-preview.png" alt="car" class="car" id="S3">
                    <span class="space-number">@Model.ElementAt(i).ParkingNumber.ToString()</span>
                </div>
                @{i++;}
                <div class="col-4 parking-space">
                    <div class="space-block"></div>
                    <img src=".\css\Images\2871_R1NUIEpPUyAwNjctMzc-removebg-preview.png" alt="car" class="car" id="S4">
                    <span class="space-number">@Model.ElementAt(i).ParkingNumber.ToString()</span>
                </div>
                @{i++;}
            </div>
            <hr class="street">
            <div class="row parking-bottom">
                <div class="col-4 parking-space">
                    <img src=".\css\Images\2871_R1NUIEpPUyAwNjctMzc-removebg-preview.png" alt="car" class="car" id="S5">
                    <span class="space-number">@Model.ElementAt(i).ParkingNumber.ToString()</span>
                    <div class="space-block-bottom"></div>
                </div>
                @{i++;}
                <div class="col-4 parking-space">
                    <img src=".\css\Images\2871_R1NUIEpPUyAwNjctMzc-removebg-preview.png" alt="car" class="car" id="S6">
                    <span class="space-number">@Model.ElementAt(i).ParkingNumber.ToString()</span>
                    <div class="space-block-bottom"></div>
                </div>
                @{i++;}
                <div class="col-4 parking-space">
                    <img src=".\css\Images\2871_R1NUIEpPUyAwNjctMzc-removebg-preview.png" alt="car" class="car" id="S7">
                    <span class="space-number">@Model.ElementAt(i).ParkingNumber.ToString()</span>
                    <div class="space-block-bottom"></div>
                </div>
                @{i++;}
                <div class="col-4 parking-space">
                    <img src=".\css\Images\2871_R1NUIEpPUyAwNjctMzc-removebg-preview.png" alt="car" class="car" id="S8">
                    <span class="space-number">@Model.ElementAt(i).ParkingNumber.ToString()</span>
                    <div class="space-block-bottom"></div>
                </div>
                @{break; }
            </div>
            }
        </div>
    </div>

    <!--nivigation bar -contain parking finder and logo- -->
    <div class="shadow bg-white row header">
        <div class=" col-12 col-md-6">
            <img src=".\css\Images\Qassim_University_logo.svg" alt="Qassim_University_logo" class="logo">
        </div>
        <div class="parking-finder col-12 col-md-6 float-end">
            <form action="get" class="car-finder rounded-pill shadow-sm">
                <input type="text" class="car-search" placeholder="   Enter your car plate number">
                <button type="submit" class="search-submit"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
            </form>
            <span class="search-note">*Enter the number and english letter ex: 123XXX</span>
        </div>
    </div>
